.modal__controller::backdrop {
  background-color: var(--grey-opacity);
}

.modal__controller {
  padding: 0;
  margin: 0 auto;
  border: solid 0.5px var(--grey-0);
  border-radius: 0.5rem;
  top: 3.13rem;
  z-index: 1;
  max-width: 90%;
  height: 87%;
}

.modal__container {
  padding: 2.8rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.modal__container--closeButton {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  font-family: 'Nunito', sans-serif;
  width: 2rem;
  height: 2rem;
  background-color: var(--grey-5);
  color: var(--grey-3);
  font-size: 1rem;
  text-align: center;
  border-radius: 100%;
}

.modal__container--closeButton:active {
  background-color: var(--grey-4);
  color: var(--grey-5);
  opacity: 75%;
}

@media (max-width: 320px) {
  .user__container--name {
    font-size: 1.15rem;
  }

  .user__container--role {
    font-size: 0.85rem;
  }

  .posts__card--title {
    font-size: 1.35rem;
  }

  .posts__card--article {
    font-size: 0.9rem;
  }

  .suggestions__container--profiles {
    gap: 1.5rem;
  }
} ;
